apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "cincinnati.openshift.io/v1alpha1",
          "kind": "Cincinnati",
          "metadata": {
            "name": "cincinnati-instance"
          },
          "spec": {
            "branch": "master",
            "gitHubOrg": "openshift",
            "gitHubRepo": "cincinnati-graph-data",
            "registry": "quay.io",
            "replicas": 1,
            "repository": "openshift-release-dev/ocp-release",
            "certConfigMapKey": "",
          }
        }
      ]
    capabilities: Basic Install
    description: Creates and maintains a Cincinnati instance
    operatorframework.io/suggested-namespace: openshift-cincinnati
    createdAt: "2020-04-08 21:10:40"
    categories: OpenShift Optional
    containerImage: quay.io/cincinnati/cincinnati-operator:latest
    support: "true"
  name: cincinnati-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Cincinnati is the Schema for a Cincinnati service.
      kind: Cincinnati
      name: cincinnatis.cincinnati.openshift.io
      version: v1alpha1
  description: |-
    # Use Case
    Running a Cincinnati instance in a cluster is appealing for offline OpenShift
    clusters or for admins that want to provide their own graph data instead of
    using [https://github.com/openshift/cincinnati-graph-data](https://github.com/openshift/cincinnati-graph-data/).

    # About Cincinnati
    **Cincinnati** is an update protocol designed to facilitate automatic updates.
    It describes a particular method for representing transitions between releases
    of a project and allowing a client to perform automatic updates between these releases.

    ## Components
    A **Graph Builder** iterates over the release payloads hosted by the
    storage component and builds a DAG of the releases. It is responsible for
    verifying that the graph described by the releases is acyclic and connected.

    A **Policy Engine** is in charge of altering a client's view of the graph
    by applying a set of filters which are defined within the particular Policy
    Engine instance. Both the input to and the output from Policy Engines is a
    graph, allowing multiple Policy Engines to be chained together. The first
    Policy Engine in a chain will fetch its graph from the Graph Builder and the
    last Policy Engine in a chain will serve the modified graph to the client.

    A **Cincinnati client** is the end consumer of the release payloads. The
    client periodically queries the Policy Engine for updates and applys them if
    available.

    # Query OpenShift's Cincinnati Endpoint
    $ curl --silent --header 'Accept:application/json' 'https://api.openshift.com/api/upgrades_info/v1/graph?arch=amd64&channel=stable-4.2' | jq '. as $graph | $graph.nodes | map(.version == "4.2.13") | index(true) as $orig | $graph.edges | map(select(.[0] == $orig)[1]) | map($graph.nodes[.])'

  displayName: Cincinnati Operator
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      deployments:
      - name: cincinnati-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: cincinnati-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: cincinnati-operator
            spec:
              containers:
              - command:
                - cincinnati-operator
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: cincinnati-operator
                - name: OPERAND_IMAGE
                  value: quay.io/cincinnati/cincinnati:latest
                image: quay.io/cincinnati/cincinnati-operator:latest
                imagePullPolicy: Always
                name: cincinnati-operator
                resources: {}
              serviceAccountName: cincinnati-operator
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - cincinnati-operator
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          - deployments
          verbs:
          - get
        - apiGroups:
          - policy
          resources:
          - poddisruptionbudgets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - cincinnati.openshift.io
          resources:
          - '*'
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        serviceAccountName: cincinnati-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Cincinnati
  - Updates
  maintainers:
  - {}
  links:
  - name: Cincinnati
    url: https://github.com/openshift/cincinnati
  - name: Cincinnati Operator
    url: https://github.com/openshift/cincinnati-operator
  - name: OpenShift Graph Data
    url: https://github.com/openshift/cincinnati-graph-data/
  maturity: alpha
  provider: {}
  version: 0.0.1
