
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: updateservices.updateservice.operator.openshift.io
spec:
  group: updateservice.operator.openshift.io
  names:
    kind: UpdateService
    listKind: UpdateServiceList
    plural: updateservices
    singular: updateservice
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: UpdateService is the Schema for the updateservices API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: UpdateServiceSpec defines the desired state of UpdateService
          properties:
            graphDataImage:
              description: graphDataImage is a container image that contains the UpdateService
                graph data.
              type: string
            registry:
              description: registry is the container registry to use, such as "quay.io".
              type: string
            replicas:
              description: replicas is the number of pods to run. When >=2, a PodDisruptionBudget
                will ensure that voluntary disruption leaves at least one Pod running
                at all times.
              format: int32
              minimum: 1
              type: integer
            repository:
              description: repository is the repository to use in the Registry, such
                as "openshift-release-dev/ocp-release"
              type: string
          required:
          - graphDataImage
          - registry
          - replicas
          - repository
          type: object
        status:
          description: UpdateServiceStatus defines the observed state of UpdateService
          properties:
            conditions:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "make" to regenerate code after modifying
                this file Conditions describe the state of the UpdateService resource.'
              items:
                description: Condition represents the state of the operator's reconciliation
                  functionality.
                properties:
                  lastHeartbeatTime:
                    format: date-time
                    type: string
                  lastTransitionTime:
                    format: date-time
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                  type:
                    description: ConditionType is the state of the operator's reconciliation
                      functionality.
                    type: string
                required:
                - status
                - type
                type: object
              type: array
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
